*~
*.swp
*.orig
*.o
*.os
*.so
.sconsign.dblite
scanner/scanner
wayland-client-protocol.cpp
wayland-client-protocol.hpp
wayland-server-protocol.cpp
wayland-server-protocol.hpp
example/opengles
example/shm
doc

tags

